<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fileName.replace(".txt","")%></title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-gray-900 text-white">
    <h2 class="text-center text-4xl">Edit Task</h2>
    <div class="m-10 flex flex-col items-start gap-4">
        
        <form action="/edit/<%= fileName %>" method="POST" class="flex flex-col items-start gap-4">
            <div class="">
                <h6 class="text-sm text-gray-600">Task Name</h6>
                <input class="bg-gray-600 p-2 rounded-md" type="text" name="newName" value="<%= fileName.replace(".txt","")%>" placeholder="Enter new name" required>
            </div>
            <div class="">
                <h6 class="text-sm text-gray-600">Task Content</h6>
                <Textarea class="bg-gray-600 p-2 rounded-md h-60 w-60" name="newContent"><%=fileData%>
                </Textarea>
            </div>
            <input class="align-center bg-blue-500 text-white px-4 py-2 rounded-lg mt-2 hover:cursor-pointer hover:bg-blue-400 hover:scale-105" type="submit" value="Save">
        </form>
    </div>
</body>
</html>